# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/examples/http_server/x64/Debug
/examples/http_server/http_server.vcxproj.user
/src/build/win/.vs
/src/build/win/x64/Debug
/src/build/win/servit.vcxproj.user
